/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header styles */
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

nav a:hover {
  color: #0077cc;
}

/* hero section styles */
.hero {
  background-color: #0077cc;
  color: #fff;
  padding: 100px;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.button {
  background-color: #fff;
  color: #0077cc;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover {
  background-color: #0077cc;
  color: #fff;
}

/* courses section styles */
.courses {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* add align-items center to vertically center the items */
}

.course {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  position: relative; /* add position relative to position the .course-text element */
}

.course img {
  width: 100%;
  margin-bottom: 20px;
}

.course-text {
  position: absolute; /* add position absolute to position the element relative to the parent */
  top: 50%; /* center vertically using top: 50% */
  left: 0;
  right: 0;
  transform: translateY(-50%); /* translate element up by 50% of its own height */
  text-align: center;
}

.course h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.course p {
  font-size: 16px;
  margin-bottom: 20px;
}



/* testimonials section styles */
.testimonials {
  padding: 100px 0;
  text-align: center;
}

.testimonial {
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 40px;
}

.testimonial p {
  font-size: 18px;
  margin-bottom: 20px;
}

.testimonial h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.login {
  max-width: 600px;
  margin: 0 auto;
}

.login h2 {
  margin-top: 50px;
}

.login form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.login label {
  font-size: 18px;
  margin-bottom: 10px;
}

.login input[type="text"],
.login input[type="password"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.login input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background-color: #0062cc;
}